{% extends "base.html" %}

{% block content %}
    <div style="height: 80px;">&nbsp;</div>
    <div class="row-fluid">
        <div class=" span4 offset4">
            <h1>Authentication</h1>
            {% if form.errors %}
                    <div class="alert alert-error">
                       <button type="button" class="close" data-dismiss="alert">&times;</button>
                       <p>Please enter a good username password combination</p>
                    </div>
            {% endif %}
            <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <fieldset>
                    <legend>Provide your credentials to gain access.</legend>
                    <div class="control-group">
                        <label class="control-label" for="username">
                            {{ form.username.label_tag }}
                        </label>
                        <div class="controls">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">
                            {{ form.password.label_tag }}
                        </label>

                        <div class="controls">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </fieldset>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>

        </div>
    </div>


{% endblock %}