

{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <div style="height: 80px;">&nbsp;</div>
    <div class="row-fluid">
        <div class=" span4 offset4">
            <h1>Registration</h1>
            {% if form.errors %}
                {% if form.errors %}
                    {% for error in form.errors %}
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
            <form class="form-horizontal" method="post" action="" novalidate>
                {% csrf_token %}
                <fieldset>
                    <legend>Please use the form below to create an account.</legend>
                    <div class="control-group">
                        <label class="control-label" for="password">
                            {{ form.username.label }}
                        </label>
                        <div class="controls">
                            <input type="text"
                                   name="{{ form.username.html_name }}"
                                   required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="{{ form.password1.label }}">
                            {{ form.password1.label }}
                        </label>
                        <div class="controls">
                            <input type="password" name="{{ form.password1.html_name }}" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="{{ form.password2.label }}">
                            {{ form.password2.label }}
                        </label>
                        <div class="controls">
                            <input type="password"
                                   data-validation-match-match="password1"
                                   data-validation-match-message="Passwords do not match." name="{{ form.password2.html_name }}" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="{{ form.first_name.label }}">
                            {{ form.first_name.label }}
                        </label>
                        <div class="controls">
                            <input type="text" name="{{ form.first_name.html_name }}" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="{{ form.last_name.label }}">
                            {{ form.last_name.label }}
                        </label>
                        <div class="controls">
                            <input type="text" name="{{ form.last_name.html_name }}" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="{{ form.email.label }}">
                            {{ form.email.label }}
                        </label>
                        <div class="controls">
                            <input type="email" name="{{ form.email.html_name }}" required />
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}

