{% extends "secure_base.html" %}
{% load staticfiles %}
{% load imagekit %}

{% block sidebar %}

{% endblock sidebar %}


{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h1 class="large"><strong>{{ journal_title }}</strong></h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="span4">
                {% for journal_entry in journal_entries %}
                    {% with journal_entry.images.all|first as image%}
                        {% generateimage 'notary_log:square_small' source=image.image as x  %}
                        <div class="media">

                              <a class="pull-left" href="#">
                                <img src="{{ x.url }}" class="media-object" id="image_{{ image.pk }}"/>
                              </a>
                              <div class="media-body">
                                    <h3 class="media-heading">{{ image.title }} <small> {{ journal_entry.created|date:"m/d/Y" }} {{ journal_entry.created |time:"h:i A" }}</small></h3>
                                    <blockquote>{{ journal_entry.journal_entry }}</blockquote>
                              </div>
                        </div>
                    {% endwith %}
                {% endfor %}
                <p>{{ journal_entry.text }}</p>
            </div>
            <div class="span6">
                <!-- Upload form. Note enctype attribute! -->
                <h3><strong>Make a Journal Entry</strong></h3>

                <form class="form-horizontal" action="{% url 'create_journal_entry' %}" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="control-group">
                        <label class="control-label" for="journal_entry">Journal Entry</label>
                        <div class="controls">
                            <textarea class="input-block-level" name="journal_entry" id="journal_entry" required></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="image">Image</label>
                        <div class="controls">
                            <input type="file" id="image" name="journal_entry_image" required>
                            <small class="pull-right">Images must be smaller than 2.5mb and must be images...(.png)(.jpg)(.gif)</small>
                        </div>
                    </div>
                    <div class="form-actions">
                         <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock content %}
