{% load staticfiles %}
{% spaceless %}
    <!DOCTYPE html>
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
    <!--[if gt IE 8]><!-->
    <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            {% block title %}Qronikle{% endblock title %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic'
              rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'js/datepicker/css/datepicker.css' %}">
        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/css/bootstrap-editable.css"
              rel="stylesheet"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
        <link rel="stylesheet"
              href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/0.0.11/css/bootstrap-datetimepicker.min.css"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.15/chosen.css">
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
        <style>
            html,
            body {
                height: 100%;
                background-image: none !important;
            }

            #map-canvas img {
                max-width: none;
                margin-top: 30px;
            }

            #ajaxWorking {
                width: 100%;
                position: absolute;
                left: 0px;
                top: 10%;
                height: 80%;
                background-color: #17CF1D;
                opacity: .222;

            }

        </style>

    </head>
    <body>
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

    {% block navigation %}
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/notarizer/">Qronikle</a>


                    <div class="nav-collapse collapse">

                        {% if request.user.is_authenticated %}

                            <ul class="nav">
                                <li><a href="/notarizer/"><span
                                        class="text-info"><strong>{{ request.user.username }}</strong></span></a>
                                </li>
                                <li><a href="/notarizer/journal-entry"><i class="icon-fire"></i>Journal Entries</a></li>
                                <li><a href="/notarizer/main-feed"><i class="icon-briefcase"></i>Main Feed</a>
                                </li>
                            </ul>
                            <ul class="nav">
                                <li><a href="/accounts/logout">Logout</a></li>
                            </ul>
                        {% else %}
                            <ul class="nav">
                                <li><a href="/accounts/login">Login</a></li>
                            </ul>
                        {% endif %}

                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
    {% endblock navigation %}
    <div id="main" class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <!--Sidebar content-->
                {% block sidebar %}


                {% endblock sidebar %}
            </div>
            <div class="span10">
                <!--Body content-->
                {% block context_actions %}
                {% endblock context_actions %}
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <!-- handlebars templates -->
    {% verbatim %}
        <script id="entry-template" type="text/x-handlebars-template">
            <div class="entry">
                <h1>{{title}}</h1>

                <div class="body">
                    {{body}}
                </div>
            </div>
        </script>
    {% endverbatim %}


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/chosen/0.9.15/chosen.jquery.min.js"></script>
    <!--[if lte IE 8]>
        <script language="javascript" type="text/javascript" src="{% static 'js/flot/excanvas.min.js' %}"></script>
    <![endif]-->
    <script language="javascript" type="text/javascript" src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/handlebars.js' %}"></script>
    <script src="{% static 'js/signals.js' %}"></script>
    <script src="{% static 'js/crossroads.js' %}"></script>
    <script src="{% static 'js/datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/noty/jquery.noty.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/noty/layouts/top.js' %}"></script>
    <!-- You can add more layouts if you want -->
    <script type="text/javascript" src="{% static 'js/noty/themes/default.js' %}"></script>
    <script src="{% static 'js/handlebars.helpers.js' %}"></script>
    <script>
        $(function () {
            $("input,select,textarea").not("[type=submit]").not('#visualize-this-list').jqBootstrapValidation({preventSubmit: true});
        });
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/0.0.11/js/bootstrap-datetimepicker.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.5/bootstrap-editable/js/bootstrap-editable.min.js"></script>
    <script type="text/javascript">
        $(document).ajaxSend(function (event, xhr, settings) {

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        });


        $(document).ajaxStart(function (e) {
            $('#ajaxWorking').fadeIn("fast");
            $('#ajaxWorking').css("z-index", "9999");
        }).ajaxStop(function (e) {
            $('#ajaxWorking').fadeOut("fast");
        }).ajaxError(function (e) {
            noty({text: "Server Reported Error", type: "error"});
        });
    </script>

    {% block scripts %}

    {% endblock scripts %}
    </body>
    <script type="text/javascript">
        $(document).ready(function () { $('#ajaxWorking').hide(); });
    </script>
    <div id="ajaxWorking"><h1 class="text-center" style="font-size: 190px; padding-top: 100px; padding-left: 100px;">
        <strong>working</strong></h1>
    </div>
    </html>
{% endspaceless %}